<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>Olá <%= @member.name %></h1>
    <p>
      <h4> Esta é o resultado da sua pesquisa da pesquisaa de satisfação sobre: <%= @avaliation.description%></h4>
      
      <h4> Essa é a média final</h4>
      <h4><%= @avaliation.average%></h4>
      <li>     
</li>
    </p>
  </body>
</html>