  <h1>Bem vindo</h1>
    <p>Find me in app/views/home/index.html.erb</p>

  <li>
  <%= link_to('Avaliações', avaliations_path, method: :get) %>        
</li>
<br>
<li>
  <%= link_to('Membros', members_path, method: :get) %>        
</li>
<br>
<li>
  <%= link_to('Logout', destroy_user_session_path, method: :delete) %>        
</li>
